@font-face {
  font-family: 'Quincy CF';
  src: url('fonts/QuincyCF-Text.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quincy CF';
  src: url('fonts/QuincyCF-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  font-family: 'Quincy CF', serif;
  background-color: #fff;
  color: #111;
  line-height: 1.4;
}
main {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  width: 100px;
  margin-bottom: 1rem;
}
h1 {
  font-size: 2.6rem;
  font-weight: bold;
  margin-bottom: 1.7rem;
}
h2 {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.signoff {
  font-weight: normal;
}
.signature-img {
  width: 150px;
  margin: 0.5rem 0;
}
.footer-img {
  width: 100%;
}
.top-block {
  display: flex;
  max-width: 100%;
  flex-wrap: nowrap;
  height: auto;
}
.btm-block {
  display: flex;
  max-width: 100%;
  flex-wrap: nowrap;
  height: auto;
  padding-top: 6px;
  padding-bottom: 4rem;
}
.img-left, .img-right {
  max-width: 50%;
}
.img-left {
  padding-right: 6px;
}

@media only screen and (max-width: 478px) {
  .footer-img {
    width: 100%;
  }
  .top-block {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    height: auto;
  }
  .btm-block {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding-top: 6px;
    padding-bottom: 5rem;
  }
  .img-left, .img-right {
    max-width: 100%;
  }
}